.containerSideBar {
  width: 330px;
  background-color: rgb(63, 14, 64);
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: normal;
  letter-spacing: 0.5px;
  font-weight: 400;

  .container2SideBar {
    height: calc(100vh - 110px);
  }

  svg {
    width: 18px;
  }

  .headSideBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px 3px 5px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.1);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
    color: white;

    svg {
      width: 18px;
      color: black;
    }

    .brandSideBar {
      display: flex;
      font-weight: 900;
      font-size: 17px;
      line-height: 1.33334;

      svg {
        margin-top: -3px;
        width: 13px;
        color: white;
      }
    }

    div:last-child {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      border-radius: 50%;

    }

    &:hover {
      background-color: rgb(53, 12, 54);
      cursor: pointer;
    }
  }

  .pagesSideBar {
    margin-top: 10px;

    div {
      display: flex;
      padding-bottom: 3px;
      padding-top: 3px;
      padding-left: 10px;

      &:hover {
        background-color: rgb(53, 12, 54);;
        cursor: pointer;
      }
    }

  }

  .containerChatList {

    &:before {
      content: "";
      display: block;
      background-color: rgba(255, 255, 255, 0.1);
      width: 100%;
      height: 1px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

  .footerSideBar {
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    &:before {
      content: "";
      display: block;
      background-color: rgba(255, 255, 255, 0.1);
      width: 100%;
      height: 1px;
      margin-bottom: 10px;
      margin-top: 10px;
    }


    svg {
      fill: rgba(255, 255, 255, 0.7);
    }

    .infoFooterSideBa {
      margin-top: 5px;
      margin-left: 15px;

      span {
        display: block;
        margin-top: -20px;
        margin-left: 25px;
      }
    }

    .buttonMicrophoneFooterSideBar {
      margin-top: 5px;
      background-color: transparent;
      margin-right: 10px;
      height: 24px;
      width: 48px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 18px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .circleMicrophoneFooterSideBar {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3);
      }

      .iconMicrophoneFooterSideBar {
        max-width: 15px;
        max-height: 15px;

        &::before {
          font-family: "Font Awesome 5 Free";
          font-weight: 300;
          content: "\f025";
          font: var(--fa-font-solid);
          color: rgba(255, 255, 255, 0.3);
        }
      }

      &:hover {
        cursor: pointer;

        .iconMicrophoneFooterSideBar {
          &:before {
            color: rgba(255, 255, 255, 1);
          }
        }
      }

    }

    &:hover {
      color: rgba(255, 255, 255, 1);

      svg {
        fill: rgba(255, 255, 255, 1);
      }

      .buttonMicrophoneFooterSideBar {
        border: 1px solid rgba(255, 255, 255, 0.5);
      }
    }
  }
}
