.containerAbout {
   .chanelNameAbout {
      border: 1px solid rgba(29, 28, 29, 0.13);
      background: rgba(255, 255, 255, 1);
      border-radius: 12px;
      margin: 15px 35px 15px 35px;
      padding: 15px;

      svg {
         width: 20px;
      }

      &:hover {
         background-color: transparent;
         cursor: pointer;
      }

      div:first-child {
         display: flex;
         justify-content: space-between;

         div {
            color: rgba(18, 100, 163, 1);
            font-size: 13px;
            font-weight: 700;
            line-height: 1.38463;

            &:hover {
               text-decoration: underline;
               cursor: pointer;
            }
         }
      }

      h3 {
         align-items: baseline;
         display: flex;
         font-size: 15px;
         font-weight: 700;
         justify-content: space-between;
         line-height: 1.46668;
      }

      span {
         white-space: break-spaces;
         font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
         -webkit-font-smoothing: antialiased;
         color: rgba(29, 28, 29, 1);
         font-size: 15px;
         font-variant-ligatures: common-ligatures;
         font-weight: 400;
         line-height: 1.46668;
      }

      svg {
         margin-bottom: -1px;
         width: 15px;
         color: rgba(29, 28, 29, 0.7);
      }
   }

   .borderButtonAbout {
      border-bottom: 1px solid rgba(29, 28, 29, 0.13);
      border-end-start-radius: 0;
      border-end-end-radius: 0;
      margin-bottom: -15px;
   }

   .borderTopAbout {
      border-bottom: 1px solid rgba(29, 28, 29, 0.13);
      border-start-end-radius: 0;
      border-start-start-radius: 0;
   }

   .channelIDAbout {
      color: rgba(29, 28, 29, 0.7);
      font-size: 13px;
      font-weight: 400;
      line-height: 1.38463;
      margin: 20px 28px 20px 48px;
   }
}
