.containerActiveHoverButton {
   background-color: black;
   position: absolute;
   margin-top: -45px;
   margin-bottom: 30px;
   height: max-content;
   font-size: 13px;
   width: 85px;
   padding: 3px;
   border-radius: 10px;
   margin-left: -27px;

   div {
      color: white;
      word-wrap: break-word;
   }
}

.containerActiveHoverButton:after {
   content: '';
   display: block;
   position: absolute;
   width: 15px;
   height: 15px;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-top: 10px solid black;
   margin-left: 25px;
   margin-top: 0px;
}

.containerDizHoverButton {
   display: none;
}
