.radio-button{
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;

    & input{
        align-self: start;
        cursor: pointer;
        margin-top: 4px;
        margin-right: 12px;
    }
}