.main-border {
   padding: 0 45px;
   font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
   font-size: 13px;
   font-weight: 400;
   z-index: 50;

   h5 {
      font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
      font-size: 13px;
      font-weight: 400;
   }
}
