.containerSideBar {
  width: 250px;
  background-color: var(--sidebar);
  // transition: background-color 500ms ease-in-out;
  svg {
    width: 18px;
  }

  .headSideBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px 10px 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    svg {
      width: 40px;
    }

    div:last-child {
      background-color: white;
      border-radius: 50%;

      svg {
        margin: 5px;
        width: 25px;

      }
    }
  }
}