.popup-icon-button {
   align-items: center;
   border-radius: 4px;
   display: inline-flex;
   justify-content: center;

   &:hover {
      background: rgba(29, 28, 29, 0.04);
      color: rgba(29, 28, 29, 1);
   }

   & svg {
      height: 20px;
      width: 20px;
      display: block;
      flex-shrink: 0;
      font-size: inherit;
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }

   &--size-medium {
      height: 36px;
      width: 36px;
   }

   &--default {
      color: rgba(29, 28, 29, 0.7);
   }
}
