.item {
   &__button--bookmark {
      padding: 8px 20px;
   }

   &__icon-container--bookmark {
      align-items: center;
      background: #fff;
      border-radius: 4px;
      display: flex;
      height: 32px;
      justify-content: center;
      margin: auto 12px auto 0;
      max-width: 32px;
      min-width: 32px;
   }

   &__label--bookmark {
      font-family: Slack-Lato;
      font-weight: 700;
      font-size: 15px;
      line-height: 28px;
   }

   &__bookmark-description {
      font-weight: 400;
      color: rgba(29, 28, 29, 0.7);
      font-size: 13px;
      line-height: 0.9375;
      overflow-x: hidden;
      padding-bottom: 8px;
      text-overflow: ellipsis;
   }

   &__bookmark-description-bar {
      font-weight: 700;
      margin-bottom: 0;
      margin-left: 20px;
      margin-top: 12px;
   }

   &__icon--bookmark {
      position: relative;
      top: 2px;
      left: 2px;

      & svg {
         stroke: #000;
         stroke-width: 1;
      }
   }
}
