.modal {
   position: fixed;
   z-index: 201;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   overflow: hidden;

   &__content {
      position: absolute;
      outline: none;
   }
}
.bookmark-menu-position {
   left: 273px;
   top: 128px;
}

.avatar-menu-position {
   right: 46px;
   top: 43px;
}
