.wider {
   width: 100%;
}

.box-2 {
   height: calc(100vh - 180px);
   flex-basis: 100%;
}

.message-content {
   height: 75%;
   margin-top: 10px;
   margin-right: 5px;
   overflow-y: auto;
   overflow-x: hidden;
}

.message-content::-webkit-scrollbar {
   width: 8px; /* ширина scrollbar */
}

.message-content::-webkit-scrollbar-track {
   background: transparent; /* цвет дорожки */
   padding-right: 5px;
}

.message-content::-webkit-scrollbar-thumb {
   background-color: rgba(29, 28, 29, 0.52); /* цвет плашки */
   border-radius: 4px; /* закругления плашки */
}
