.add-bookmark-menu-input{
    padding: 12px 8px;
    border: 1.5px solid rgba( 29, 28 , 29, 0.3);
    border-radius: 5px;
    width: 100%;
    outline: none;
    margin-bottom: 20px;
    background-color: transparent;

    &__focused{
        border-color: rgb(29,155,209);
        outline:  rgba(29, 155, 209, 0.5) solid 3px;
    }

    &__hovered{
        border-color: rgba( 29, 28 , 29, 0.9); 
    }

    &__container {
        & p{
            font-size: 15px;
            font-weight: 700;
            line-height: 1.46666667;
            padding-bottom: 8px ;
        }
    }
}