.header {
  margin-top: 8px;
  padding-right: 50px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    min-width: 120px;
    color: white;
    padding-right: 20px;

    &-right {
      min-width: auto;
      padding-right: 0;
      margin-left: 30px;
    }
  }

  &__button {
    display: block;
    min-width: 26px;
    min-height: 26px;
    max-width: 26px;
    max-height: 26px;
    cursor: pointer;

    &:hover {
      background-color: var(--searchbar);
      border-radius: 4px;

      svg {
        color: #ffffff;
      }
    }

    &-right {
      margin-right: 12px;
    }

    svg {
      margin: 3px;
      color: #bcabbc;
    }
  }

  &__search {
    height: 26px;
    padding: 0 8px;
    display: flex;
    flex: 100%;
    max-width: 732px;
    min-width: 200px;
    background-color: var(--searchbar);
    color: var(--headerWhite);
    border-radius: 4px;
    outline: none;
    border: none;
    transform: scale(1) translateX(0%) translateY(0%);
    transition-duration: 0.33s;
    transition-delay: 0.05s;
    box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.05);

    &:hover {
      cursor: pointer;
      background-color: rgb(114, 79, 116);
    }
  }

  &__search-field {
    user-select: text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    flex-wrap: nowrap;
    width: 100%;
    background-color: var(--searchbar), 0;
    color: #ffffff;
    border: inherit;
    outline: none;
    z-index: -1;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38463;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 4px;
  }

  &__button-filter {
    display: block;
    min-width: 16px;
    min-height: 16px;
    margin-top: 5px;
    margin-right: 10px;

    & svg {
      color: #ffffff;
    }
  }

  &__magnifier {
    margin-top: 5px;
    min-width: 15px;
    min-height: 15px;
    color: #bcabbc;
  }

  &__avatar {
    align-self: center;
    justify-self: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 26px;
      height: 26px;
      border-radius: 4px;
      background-color: #ffffff;
      opacity: 0;
      cursor: pointer;
    }

    &:hover::before {
      opacity: 0.2;
    }
  }

  &__avatar-button {
    display: block;
    background-color: var(--header);
    background-size: cover;
    width: 26px;
    height: 26px;
  }

  &__avatar-image {
    border-radius: 4px;
    width: 26px;
    height: 26px;
  }

  &__presence-sign {
    position: absolute;
    bottom: -4px;
    right: -6px;
    z-index: 200;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 3px solid var(--header);
    background-color: #2bac76;
    cursor: pointer;
  }
}


.searchHoverIcon {
  text-align: center;

  span {
    display: inline-block;
    background-color: rgb(28, 27, 27);
    border-radius: 5px;
    margin: 5px 5px 0px 0;
    padding: 2px 5px 2px 5px;
  }
}