.profile {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   height: 100%;

   &__content {
      flex: 1;
      min-height: 0;
      position: relative;
      overflow-y: auto;
      margin-right: 5px;

      &::-webkit-scrollbar {
         width: 8px; /* ширина scrollbar */
      }

      &::-webkit-scrollbar-track {
         background: transparent; /* цвет дорожки */
         padding-right: 5px;
      }

      &::-webkit-scrollbar-thumb {
         background-color: rgba(29, 28, 29, 0.52); /* цвет плашки */
         border-radius: 4px; /* закругления плашки */
      }
   }

   &__content-container {
      align-items: center;
      display: flex;
      flex-direction: column;
   }

   &__section {
      border-top: 1px solid rgba(221, 221, 221, 1);
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 16px;
      width: 100%;

      &:nth-child(2) {
         border: none;
      }
   }

   &__name {
      align-items: center;
      display: flex;
      margin-top: -4px;
   }

   &__name-text {
      font-size: 22px;
      font-weight: 900;
      line-height: 1.36365;
   }

   &__icon {
      align-items: center;
      display: inline-flex;
      height: 20px;
      justify-content: center;
      position: relative;
      width: 1em;
      top: 2px;

      & svg {
         font-size: inherit;
         display: inline-block;
         font-style: normal;
         font-weight: 400;
         line-height: 1;
      }
   }

   &__contact-info {
      display: flex;
   }

   &__contact-info-text {
      align-items: center;
      display: flex;
      font-size: 15px;
      font-weight: 900;
      margin-bottom: 16px;
      flex: 1 1 0%;
   }

   &__contact-info-item {
      display: flex;
      overflow-wrap: anywhere;
      padding: 0 0 8px;
      width: 100%;
   }

   &__contact-info-link {
      color: rgba(18, 100, 163, 1);

      &:hover {
         color: rgba(11, 76, 140, 1);
         text-decoration: underline;
      }
   }

   &__footer {
      height: 45px;
      width: 100%;
   }
}
