@font-face {
    font-family: "LatoNew";
    src: url("fonts/Lato-Reg.ttf") format("truetype");
}
@font-face {
    font-family: 'SlackLatoBlack';
    src: local('MyFont'), url(./fonts/lato-black-b64f5e4.woff2) format('woff');
}
@font-face {
    font-family: 'SlackLatoBold';
    src: local('MyFont'), url(./fonts/lato-bold-4b1dc11.woff2) format('woff');
}
@font-face {
    font-family: 'SlackLatoRegular';
    src: local('MyFont'), url(./fonts/lato-regular-d9ce515.woff2) format('woff');
}
@font-face {
    font-family: 'SlackIcons';
    src: local('MyFont'), url(./fonts/slack-icons-v2-fe043a5.woff2) format('woff');
}