
.logo_section_wrapper {

  margin-top: 45px;
  position: fixed;
  background-color: var(--sidebar);
  min-width: 300px;
  z-index: 500;
}

.pen {
  margin-top: 7px;
  margin-right: 8px;
}

.logo_section {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.1px solid var(--line);
  border-top: 0.1px solid var(--line);

  .logo {
    justify-self: left;
    transform: scale(0.7) translateX(0%) translateY(0%);
    transition-duration: .33s;
    transition-delay: .05s;
    box-shadow: 0 0 16px 8px rgba(0, 0, 0, .05);
    user-select:text;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    pointer-events:auto;
  }

  .chatname {
    justify-self: flex-start;
    margin-left: 20px;
  }
  p {
    margin: 0;
    color: var(--txt);
    font-size: 16px;
    font-family: Lato sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    display:inline-block;
    -webkit-transform:scale(1,1.3); /* Safari and Chrome */
    -moz-transform:scale(1,1.3); /* Firefox */
    -ms-transform:scale(1,1.3); /* IE 9 */
    -o-transform:scale(1,1.3); /* Opera */
    transform:scale(1,1.3); /* W3C */
  }
  .edit {
    margin-left: 55px;
    margin-top: 5px;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: var(--txt);
    font-size: 24px;
    color: var(--sidebar);
    stroke-width: 0.1px;
    transform: scale(0.8) translateX(0%) translateY(0%);
    transition-duration: .33s;
    transition-delay: .05s;
    a {
      margin-left: 10px;
      cursor: pointer;
      transform: scale(1) translateX(-10%) translateY(10%);
    }
  }
}
.logo_section:hover {
  background-color: var(--header);
  width: 100%;
}

.animation-pause {
  animation-play-state: paused;
}

.animation-play {
  animation-play-state: running;
}

.edit:hover {
  // not delete from intial design as it is 'cute'))
  animation-name: writing-pencil;
  animation-iteration-count: initial;
  animation-duration: 350ms;
  animation-direction: normal;
}

@keyframes writing-pencil {
  0% {
    transform: translate3d(0, 0, 0);
  }

  10% {
    transform: translate3d(0px, 0, 0);
  }

  20% {
    transform: translate3d(1px, 0, 0);
  }

  30% {
    transform: translate3d(2px, 0, 0);
  }

  40%{
    transform: translate3d(2px, 0, 0);
  }
  50%{
    transform: translate3d(3px, 0, 0);
  }
  60%{
    transform: translate3d(2px, 0, 0);
  }
  70%{
    transform: translate3d(2px, 0, 0);
  }

  80%{
    transform: translate3d(1px, 0, 0);
  }

  90%{
    transform: translate3d(1px, 0, 0);
  }
}
