.sidebar-elem:hover {
  background: #6f6f6f;
}


.accordion-button {
  background-color: #21252a !important;
  color: #ffffff;
} 

.accordion-flush .accordion-item .accordion-button {
 height: 1rem !important;
}

.accordion-button:not(.collapsed) {
  color: #ffffff !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.channel:hover {
  background-color: #6f6f6f;
  cursor: pointer;
}

.plus-icon:hover {
  background-color: rgba(255, 255, 255, 0.294)
}

.w-90 {
  width: 90% !important;
}

.cursor-pointer {
  cursor: pointer !important;
}


.rotate{
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.rotate-down{
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
}

.active-channel {
  background-color: rgba(255, 255, 255, 0.294);
}
.sidebar{
  //background-color: rgb(63, 14, 64);
  background-color: var(--sidebar);
  transition: background-color 500ms ease-in-out;
}

.logo_section_wrapper {
  margin-left: -10px;
  margin-top: 45px;
  position: fixed;
  background-color: var(--sidebar);
  min-width: 280px;
  z-index: 500;
}

.logo_section {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.1px solid var(--line);
  border-top: 0.1px solid var(--line);

  .logo {
    justify-self: left;
    transform: scale(0.7) translateX(0%) translateY(0%);
    transition-duration: .33s;
    transition-delay: .05s;
    box-shadow: 0 0 16px 8px rgba(0, 0, 0, .05);
    user-select:text;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    pointer-events:auto;
  }

  .chatname {
    justify-self: flex-start;
  }
  p {
    color: var(--txt);
    font-size: 20px;
    font-family: Lato sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0;
    display:inline-block;
    -webkit-transform:scale(1,1.3); /* Safari and Chrome */
    -moz-transform:scale(1,1.3); /* Firefox */
    -ms-transform:scale(1,1.3); /* IE 9 */
    -o-transform:scale(1,1.3); /* Opera */
    transform:scale(1,1.3); /* W3C */
  }
 .edit {
   margin-left: 25px;
   height: 42px;
   width: 42px;
   border-radius: 50%;
   background-color: var(--txt);
   justify-self: flex-end;
   font-size: 24px;
   color: var(--sidebar);
   stroke-width: 0.1px;
   transform: scale(0.7) translateX(0%) translateY(0%);
   transition-duration: .33s;
   transition-delay: .05s;
   a {
     margin-left: 10px;
     cursor: pointer;
   }
 }
}

.logo_section:hover {
  background-color: var(--header);
}

.chatList_wrapper {
  margin-left: -10px;
}

ul {
  list-style-type: none;
}

.level {
  color: var(--txt);
  white-space: nowrap;
  cursor: pointer;
}

.level0{
  font-size: 18px;
  margin-left: 15px;
}

.level1{
  font-size: 16px;
  margin-left: 30px;
}

.level2{
  font-size: 16px;
  margin-left: 50px;
}

.item:hover {
  background-color: var(--header);
}

.select {
  background: #1164A3;
}

.item-font, .select-font {
  height: 100%;
  font-family: monaco, Consolas, Lucida Console, monospace;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 15.4px;
}

.bullet_icon {
  display: inline;
  transform: scale(0.5) translateX(0%) translateY(0%);
}

.select-font {
  color: var(--white);
}



.blank_space{
  height: 150px;
  background-color: var(--sidebar);
}

.warning {
  font-size: 12px;
  margin-right: 15px;
  text-shadow: 10px 0 12px #ff0000, -10px 0 12px #ff0000, 0 6px 12px #ff0000, 0 -6px 12px #ff0000;
}



