.sidebar-elem:hover {
  background: #6f6f6f;
}


.accordion-button {
  background-color: #21252a !important;
  color: #ffffff;
} 

.accordion-flush .accordion-item .accordion-button {
 height: 3rem !important;
}

.accordion-button:not(.collapsed) {
  color: #ffffff !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.channel:hover {
  background-color: #6f6f6f;
  cursor: pointer;
}

.plus-icon:hover {
  background-color: rgba(255, 255, 255, 0.294)
}

.w-90 {
  width: 90% !important;
}

.cursor-pointer {
  cursor: pointer !important;
}


.active-channel {
  background-color: rgba(255, 255, 255, 0.294);
}
.sidebar{
  padding: 0;
  margin: 0;
  background-color: var(--sidebar);
  transition: background-color 500ms ease-in-out;
}

.chatList_wrapper {
  margin-left: -20px;
  margin-bottom: 35px;
  padding: 0;
}

.chatList {
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

ul {
  list-style-type: none;
}

.level {
  color: var(--txt);
  white-space: normal;
  cursor: pointer;
  font-size: 15px;
  line-height: 15.4px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.level0{
  margin-left: 5px;
}

.level1{
  margin-left: 20px;
}

.level2{
  margin-left: 40px;
}

.item {

}
.item:hover {
  background-color: var(--header);
}

.select {
  background: #1164A3;
}

.item-font, .select-font {
  font-family: monaco, Consolas, Lucida Console, monospace;
  font-style: normal;
  font-variant: historical-ligatures;
  font-weight: 10 !important;
  font-stretch: extra-condensed;
}

.bullet_icon {
  display: inline;
  transform: scale(0.9) translateX(-20%) translateY(10%);
}

.select-font {
  color: var(--white);
}

.blank_space{
  height: 120px;
  background-color: var(--sidebar);
}

.list {
  min-width: 200px;
}

.warning_wrapper {
width: 100%;
  }

.warning {
  display: block;
  float: right;
  margin-right: 7px;
  font-size: 12px;
  font-weight: bold;
  z-index: 10;
  //text-shadow: 10px 0 12px #ff0000, -10px 0 12px #ff0000, 0 6px 12px #ff0000, 0 -6px 12px #ff0000;
}

.warning-round {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 18px;
  line-height: 18px;
  width: 28px;
  background-color: var(--nmsg);
  z-index: 2;
  border-radius: 16px;
  opacity: 1;
  transition: opacity .1s;
  user-select: none;
}

.figure {
  color: var(--white);
  font-family: Slack-Lato,Slack-Fractions,appleLogo,sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-variant-ligatures: common-ligatures;
  -webkit-font-smoothing: antialiased;
}
