.message-header {
   &__wrapper {
      padding: 0 16px 0 13px;
      display: flex;
      align-items: center;
      height: 55px;
      width: 100%;
      overflow: hidden;
      box-shadow: 0 1px 0 0 rgba(29, 28, 29, 0.13);
      background-color: var(--bgHead);
   }
}

.current-channel {
   display: flex;
   cursor: pointer;

   &__wrapper {
      display: flex;
      padding: 3px 8px;
      border-radius: 6px;

      &:hover {
         background-color: var(--line);
      }

      & :last-child {
         margin-right: 0;
      }
   }

   &__grid,
   &__arrow {
      margin-top: 3px;
      margin-right: 2px;
      width: 18px;
      height: 18px;
   }

   &__name {
      font-size: 18px;
      line-height: 1.33334;
      font-weight: 900;
   }
}

.people {
   align-items: center;
   background: inherit;
   display: flex;
   flex: 0 0 auto;
   margin-left: auto;
   z-index: 0;

   &__wrapper {
      border-radius: 4px;
      box-shadow: 0 0 0 1px rgba(29, 28, 29, 0.13);
      color: rgba(29, 28, 29, 0.7);
      height: 28px;
      margin-left: 8px;
      padding: 3px 0 3px 3px;
      cursor: pointer;
      background: none;
      border: none;

      &:hover {
         background-color: rgba(29, 28, 29, 0.03);
         color: rgba(29, 28, 29, 1);
      }
   }

   &__round {
      display: flex;
      align-items: center;
   }

   &__round-container {
      height: 22px;
      width: 22px;
      border-radius: 3px;
      display: block;
      flex-shrink: 0;
      overflow: hidden;
      position: relative;
   }

   &__round-icon {
      width: 22px;
      background-repeat: no-repeat;
      background-size: 100%;
      display: inline-block;
      background-color: rgba(29, 28, 29, 0.13);
      border-radius: 4px;
      color: rgba(29, 28, 29, 1);
      flex-shrink: 0;
      position: relative;
   }

   &__participants-count {
      background-color: initial;
      color: inherit;
      font-size: 13px;
      line-height: 22px;
      padding: 0 8px 0 8px;
      font-weight: 700;
      position: relative;
      top: 2px;
   }

   &__hint {
      text-align: center;
      padding: 0px 15px 0px;

      div:first-child {
         opacity: 1;

         span:first-child {
            display: block;
            white-space: nowrap;
         }
      }

      div {
         opacity: 0.8;
      }
   }
}

.bookmark {
   height: 36px;
   padding-left: 13px;
   padding-right: 16px;
   box-shadow: 0 2px 3px 0 #00000014, 0 1px 0 0 rgba(29, 28, 29, 0.13);

   &__container {
      display: flex;
   }

   &__button {
      background-color: transparent;
      padding: 3px 8px 3px 0;
      color: rgba(97, 96, 97, 1);
      margin-top: 5px;
      border: none;
      display: flex;
      align-items: center;
      font-size: 13px;
      font-weight: 400;
      height: 26px;
      cursor: pointer;

      & i {
         &::before {
            content: '\271A';
            position: relative;
            top: -1px;
            font-style: normal;
            font-size: 12px;
            margin-right: 8px;
            margin-left: 8px;
         }
      }

      &:hover {
         background-color: var(--line);
         border-radius: 6px;
      }
   }
}
