@import "../src/css/users.scss";
@import "../src/css/sidebar.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
@import "../node_modules/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$position-values: (
0: 0,
10: 10%,
20: 20%,
30: 30%,
40: 40%,
50: 50%,
60: 60%,
70: 70%,
80: 80%,
90: 90%,
100: 100%
);

body {
  font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-size: 15px;
}


:root {
  --heavyDarkPurple: rgb(53, 13, 54);
  --darkPurple: rgb(63, 14, 64);
  --lightPurple: rgb(100, 69, 101);
  --tinyPurple: rgb(251, 242, 235);
  --textPurple: #bcabbc;
  --grey: rgba(86, 96, 109, 0.6);
  --white: #efefef;
  --red: #FC0036;

  --heavyDarkSapfir: rgb(70, 20, 18);
  --darkSapfir: rgb(106, 27, 27);
  --lightSapfir: rgb(203,147,86);
  --tinySapfir: rgba(253,246,227,0.15);
  --textSapfir: rgb(255, 212, 118);
  --black: rgb(217, 68, 34);

  --heavyDarkBrown: rgb(82, 48, 7);
  --darkBrown: rgb(65, 49, 30);
  --lightBrown: rgb(197, 157, 94);
  --tinyBrown: rgb(214, 185, 141);
  --textBrown: rgb(198, 211, 220);
  --blue: rgb(44, 63, 100);
}

.internal-chat {
  --header: var(--heavyDarkPurple);
  --sidebar: var(--darkPurple);
  --searchbar: var(--lightPurple);
  --bg: var(--tinyPurple);
  --txt: var(--textPurple);
  --nmsg: var(--red);
}

.external-chat {
  --header: var(--heavyDarkSapfir);
  --sidebar: var(--darkSapfir);
  --searchbar: var(--lightSapfir);
  --bg: var(--tinySapfir);
  --txt: var(--textSapfir);
  --nmsg: var(--black);
}

.moderator {
  --header: var(--heavyDarkBrown);
  --sidebar: var(--darkBrown);
  --searchbar: var(--lightBrown);
  --bg: var(--tinyBrown);
  --txt: var(--textBrown);
  --nmsg: var(--blue);
}

.main-content {
  height: 100vh;
  background: var(--bg);
}

.chat {
  overflow: auto;
  flex-basis: 0;
}


.red-hr {
  border:1px solid rgb(255, 0, 0);
}

.message {
  align-self: flex-start;


&.my-message {
   align-self: flex-end;

 }
}

.message-owner {
  font-style: italic;
  font-size: 12px;
  color: #787878;
}

.message-body {
//  background: #efefef;
  background: var(--bg);
  border-radius: 4px;
  color: #444;
  white-space: pre-line;
}

.my-message {
.message-body {
  background: #e8f1f3;
}
}

.circle {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  display: block;
  border: 1px solid;
  border-radius: 50%;
}

.circle {
&.inactive {
   border-color: #eb7e19;
   background: -webkit-gradient(linear,left top,left bottom,color-stop(50%,hsla(0,0%,100%,0)),color-stop(50%,#eb7e19));
   background: -webkit-linear-gradient(top,hsla(0,0%,100%,0) 50%,#eb7e19 50%);
   background: linear-gradient(to bottom,hsla(0,0%,100%,0) 50%,#eb7e19 50%);
 }
&.active {
   border-color: green;
   background: green;
 }
&.offline {
   border-color: white;
 }

&.undefined {
   border-color: rgb(255, 0, 0);
   background: rgb(255, 0, 0);
 }
}

.pointer {
  cursor: pointer;
}

.animation-pause {
  animation-play-state: paused;
}

.animation-play {
  animation-play-state: running;
}

.pencil-animation {
  animation-name: writing-pencil;
  animation-iteration-count: infinite;
  animation-duration: 1200ms;
  animation-direction: initial;
}

@keyframes writing-pencil {
  0% {
    transform: translate3d(0, 0, 0);
  }

  10% {
    transform: translate3d(2px, 0, 0);
  }

  20% {
    transform: translate3d(4px, 0, 0);
  }

  30% {
    transform: translate3d(6px, 0, 0);
  }

  40%{
    transform: translate3d(8px, 0, 0);
  }
  50%{
    transform: translate3d(6px, 0, 0);
  }
  60%{
    transform: translate3d(4px, 0, 0);
  }
  70%{
    transform: translate3d(2px, 0, 0);
  }

  80%{
    transform: translate3d(1px, 0, 0);
  }

  90%{
    transform: translate3d(0, 0, 0);
  }

}

.header {
  background-color: var(--header);
}
.header-search-field {
  display: flex;
  flex: 5;
  background-color: var(--searchbar);
  border-radius: 4px;
  font-size: 13px;
  outline: none;
  height: 24px;
  width: 450px;
  padding: 0 8px;
  border-radius: 4px;
  border: none;
  color: #fff;
}

.header-search-field::placeholder {
  color: #fff;
}

.header-search-field:hover {
  background-color: #ffffff26;
  cursor: pointer;
}

.header-history_button {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  width: 20px;
  height: 20px;
  color:white;
  padding-left: 16px;
  padding-right: 20px;
  cursor: pointer;
a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
svg {
  width: 20px;
  height: 20px;
}
}
}

.search-flex-container {
  position: relative;
  flex: 2;
  display: flex;
}

.header-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 16px;
  padding-left: 32px;
  position: relative;
}

.header-right button, .header-right img {
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  border-radius: 4px;
}

// .header_button{
   //   width: 32px;
   //   height: 32px;
   //   border-radius: 4px;
   // }

.level {
//font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--txt);
  white-space: nowrap;
  cursor: pointer;
}

.level0{
  font-size: 16px;
  margin-left: 0px;
}

.level1{
  font-size: 13px;
  margin-left: 15px;
}

.level2{
  font-size: 12px;
  margin-left: 35px;
}

.c-icon2  {
  font-size: 70%;
}

.right {
  float: right;
  margin-right: 15px;
  font-size: 10px;
  padding: 5px;
  width: 24px;
  background-color: var(--nmsg);
  line-height: 85%;
  border-radius: 40%;
  text-align: center;
}

.chatlist {
  width: 100%;
}

.select {
  width: 100%;
  height: 120%;
  background: #1164A3;
}

.select-font {
//color: #ffff;
  color: var(--white);
}

.toltip-list {
  padding-right: 1rem;
  background-color: rgba(12, 12, 12, 0.8);
  color:rgb(4, 247, 8);
  position:absolute;
  right: 1rem;
}

.toltip-list ul {
  list-style: none;
}

.visible{
  display: block;
}
.unvisible{
  display: none;
}
.time_stamp {
  width: 200px;
  position: absolute;
  top: -12px;
  left: 40%;
  background-color: #FBF2EB;
}
.message{
  width: 100%;
}