.popup-button {
   -webkit-tap-highlight-color: transparent;
   align-items: center;
   -webkit-appearance: none;
   border-radius: 4px;
   cursor: pointer;
   display: inline-flex;
   justify-content: center;
   outline: none;
   position: relative;
   text-align: center;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   white-space: nowrap;
}

.popup-button--outline {
   color: rgba(29, 28, 29, 1);
   background: rgba(255, 255, 255, 1);
   background-clip: padding-box;
   border: 1px solid rgba(29, 28, 29, 0.3);
   transition: all 80ms linear;
}

.button-unstyled {
   background: none;
   border: 0;
   cursor: pointer;
   line-height: inherit;
   margin: 0;
   overflow: initial;
   padding: 0;
   text-align: initial;
   vertical-align: initial;
}
