.containerTimeStamp {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 25px;

   .containerTime {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 130px;
      height: 28px;
      border: solid rgba(145, 145, 145, 0.3) 1px;
      border-radius: 24px;
      box-shadow: 0 1px 3px 0 #00000014;
      text-align: center;
      cursor: pointer;
      background-color: white;
      z-index: 2;
      div {
         font-family: Slack-Lato;
         font-size: 13px;
         line-height: 27px;
         font-weight: bold;
         word-spacing: normal;
         font-variant-ligatures: common-ligatures;
         svg {
            margin-bottom: -2px;
            margin-left: 5px;
            width: 14px;
         }
      }
   }

   &:before {
      content: '';
      display: block;
      height: 1px;
      background-color: rgba(145, 145, 145, 0.3);
      width: 100%;
      margin-bottom: -17px;
      z-index: 1;
   }
}
