.containerLowerBlock {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: -35px;

  button {
    border: none;
    background-color: transparent;
    padding-top: 6px;
    text-align: center;
  }

  .containerLeftLowerBlock {
    button {
      margin-right: 10px;
      border-radius: 5px;
      width: 25px;
      height: 25px;
    }

    button:first-child {
      margin-left: 10px;

      svg {
        height: 15px;
        margin-bottom: 2px;
      }
    }

    button:nth-child(1) {
      cursor: pointer;
      background-color: rgba(243, 243, 243, 1);
      border-radius: 50%;
    }

    button:nth-child(1):hover {
      background-color: rgb(224, 224, 224);
    }

    button:nth-child(2),
    button:nth-child(5):hover,
    button:nth-child(6):hover,
    button:nth-child(3) {
      cursor: pointer;
      background-color: rgba(243, 243, 243, 1);

      svg {
        color: rgba(18, 100, 163.1);
      }
    }

    button:nth-child(3),
    button:nth-child(1) {
      margin-right: 15px;
    }

    button:nth-child(1):after,
    button:nth-child(3):after {
      content: '';
      display: block;
      position: absolute;
      background-color: rgb(213, 211, 211);
      height: 20px;
      width: 1px;
      margin-left: 30px;
      margin-top: -20px;
    }

    .svgEmojiInputMessage {

      &:hover {
        background-color: #c4c412;
        border-radius: 50%;
        cursor: pointer;
      }
    }

  }

  svg {
    width: 19px;
    color: #6e6a6a;
    margin-top: -3.5px;
  }
}

.buttonsInputMessage {
  padding: 0;
  height: 30px;
  margin-right: 10px;
  margin-top: -5px;

  button {
    margin-top: -1px;
    width: 30px;
    height: 100%;
  }

  button:hover {
    cursor: default;
  }

  button:first-child:after {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background-color: rgba(215, 215, 215, 0.5);
    margin-left: 29px;
    margin-top: -22px;
  }

  .imgSvgInputMessage {
    color: #c0b9b9;
    width: 16px;
  }
}

.activeButtonInputMessage {
  background-color: #007a5a;
  border: 1px solid #007a5a;
  border-radius: 5px;

  button:hover {
    cursor: pointer;
    background-color: #008a63;
  }

  .imgSvgInputMassage {
    color: white;
  }
}


.hoverAttachmentsInputLowerBlock {

  div:last-child {
    opacity: 0.6;
  }
}

.hoverVideoInputLowerBlock {
  text-align: center;

  div:first-child {
    opacity: 1;

    span:first-child {
      font-size: 10px;
      margin-right: 3px;
      background-color: white;
      color: black;
      border-radius: 5px;
      padding: 2px;
    }
  }

  div {
    opacity: 0.8;
  }
}

.hoverSendMessageInputLowerBlock {
  text-align: center;

  div:last-child {
    span:first-child {
      margin-right: 3px;
      opacity: 0.7;
    }

    span:last-child {
      border-radius: 3px;
      padding: 3px;
      background-color: #2f2e2e;
    }
  }
}