.warning-round {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  line-height: 18px;
  background-color: var(--nmsg);
  border-radius: 50%;
  margin-right: 15px;

  span {
    color: var(--white);
    font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-variant-ligatures: common-ligatures;
    -webkit-font-smoothing: antialiased;
  }
}

